[submodule "headunit"]
	path = plugins/android-auto/headunit
	url = https://github.com/aselafernando/libheadunit.git
	branch = qt6
[submodule "themes/default-theme"]
	path = themes/default-theme
	url = https://github.com/aselafernando/headunit-gui.git
	branch = qt6
[submodule "welle.io"]
	path = plugins/welle-io/welle.io
	url = https://github.com/aselafernando/welle.io
	branch = master
