[submodule "headunit"]
	path = modules/android-auto/headunit
	url = https://github.com/aselafernando/libheadunit.git
        branch = add_wireless_playback
[submodule "themes/default-theme"]
	path = themes/default-theme
	url = https://github.com/aselafernando/headunit-gui.git
[submodule "welle.io"]
	path = modules/welle-io/welle.io
	url = https://github.com/aselafernando/welle.io
	branch = master
[submodule "modules/volume-control/pulseaudio-qt"]
	path = modules/volume-control/pulseaudio-qt
	url = https://invent.kde.org/libraries/pulseaudio-qt.git
